*.class


/node_modules

# SSH Keys

*.pem
*.ppk

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Merge Files
*.bak

#Gradle temporary files
target/

#Eclipse files
**/.project
**/.classpath
**/.settings/
/bin/
blog/bin/
**/.tern-project
**/.factorypath

#IntelliJ files
**/*.iml
**/.idea
**/.gradle

#Other Files
*.ini

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
